@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.hamburger {
    display: none;
}

.close-nav {
    display: none;
}

.dropdownFeat {
    display: block;
}
.drpdwn-nav1 {
    position: relative;
}

.drpdwn-content {
    height: 22vh;
    width: 10vw;
    position: absolute;
    left: -65%;
    top: 40px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 1;


    display: none;
}

.drpdwn-content li{
    width: auto;
    height: auto;
    margin-top: 8px;
    text-align: center;
}

.drpdwn-content li a {
    font-size: 14px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    margin-left: 7px;
    color: #454545;
}
.drpdwn-content2{
    height: 16vh;
    width: 7vw;
    text-align: center;
    top: 40px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 1;


    display: none;
}

.drpdwn-content2 li {
    width: auto;
    height: auto;
    margin-top: 10px;
    text-align: left;

}

.drpdwn-content2 li a{
    font-size: 14px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color: #454545;

}

.dropdownFeat {
    display: block;
}

body {
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);
}


header {
    width: 100%;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px 0 25px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: auto;
}


.nav-links {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;

    margin-right: 40%;
}



.feature a,
.company a,
.careers a,
.about a{
    font-size: 16px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-transform: capitalize;
    color: #454545;
    text-decoration: none;
    cursor: pointer;
}


.registration {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.registration .login a{
    font-size: 16px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-transform: capitalize;
    color: #454545;
}

.registration .register {
    width: 60%;
    height: 30px;
    display: flex;
    border: 1.5px solid #454545;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.registration .register a {
    font-size: 14px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-transform: capitalize;
    color: #454545;
}

.hero {
    width: 100%;
    min-height: 90vh;

    padding: 10px 100px 30px 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero > img {
    width: 35%;
    height: 80vh;

    margin-right: 3%;
}

.section_a {
    width: 45%;
    height: 65vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 9%;
    margin-left: 5%;
}

.section_a .topic {
    width: 85%;
}

.section_a .topic h1 {
    font-size: 65px;
    font-family: 'Epilogue';
    font-weight: 700;
}

.section_a .paragraph {
    width: 85%;
}

.section_a .paragraph p {
    font-size: 16px;
    font-family: 'Epilogue';
    font-weight: 500;
    color: #adadad;
}

.section_a .learn-btn {
    width: 25%;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #000000;
    color: #ffffff;
}

.section_a .main-footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.section_a .main-footer img {
    width: 20%;
}

.b_img_mobile {
    display: none;
}


@media (max-width:376px) {
    .hamburger{
        display: block;
    }

    .close-nav {
        z-index: 2000;
    }

    .dropdownFeat {
        display: block;
    }


    .hero {
        flex-direction: column-reverse;

        padding: 10px 0 10px 0 !important;
    }

    .nav-links {
        width: 55%;
        height: 100vh;
        position: absolute;
        
        top: 0;   
        left: -2000%; 
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: start ;
        z-index: 999;
        text-align: left;

        padding-top: 70px;
        padding-left: 15px;

        margin-left: 39%;
    }

    .nav-links div{
        margin-top: 15%;
    }

    

    .open-mobile-nav {
        left: 22.5px;
    }

    .open-nav{
        display: block;
    }
      /* Js Functionality class */
    .close-hamburger {
    display: none;
    }

    .drpdwn-nav1 {
        position: relative;
    }

    .drpdwn-content {
        width: 90%;
        margin: 5%;
        position: absolute;
        left: 0px;
        top: 50%;
        background-color: hsl(0, 0%, 98%);
        z-index: 999;
        border: none;
    }

    .drpdwn-content2 {
        width: 90%;
        margin: 5%;
        position: absolute;
        left: 0px;
        top: 50%;
        background-color: hsl(0, 0%, 98%);
        z-index: 999;
        border: none;
    }

    .registration {
        display: none;

        width: 30%;
        height: 10vh;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        top: 50%;
        right: 10%;

        z-index: 2000;
    }

    

    .registration .register {
        width: 100% !important;
    }

    .reg {
        display: flex;
    }

    .b_img {
        display: none;
    }

    .hero .b_img_mobile {
        display: block;

        width: 100%;
        height: 40vh;

        margin: 0;
    }

    .hero .section_a {
        width: 100%;
        height: 35vh;

        margin-left: 0;
        margin-top: 0 !important;
        margin-bottom: 9% !important;
        padding: 0 10px 0 10px;
    }

    .section_a .topic{
        width: 100%;
        text-align: center;
    }

    .section_a .topic h1 {
        font-size: 35px;
    }

    .section_a .paragraph {
        width: 100%;
        text-align: center;
    }

    .section_a .paragraph p {
        font-size: 17px;
        font-weight: 300;
    }

    .section_a .learn-btn {
        width: 30% !important;
        margin-left: 35%;
    }

    .section_a .main-footer {
        width: 100%;
    }
}
